# Python
venv/
__pycache__/
*.pyc

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log

# macOS
.DS_Store

# Environment and secrets
.env
*.pem
*.key

# IDE
.vscode/
.idea/